attrs==17.4.0
beautifulsoup4==4.6.0
boto3==1.1.4
botocore==1.2.10
click==4.1
click-log==0.1.4
docutils==0.14
futures==2.2.0
jmespath==0.9.3
pluggy==0.6.0
py==1.5.2
py-cpuinfo==3.3.0
pycodestyle==2.3.1
pytest==3.3.1
pytest-benchmark==3.1.1
python-dateutil==2.6.1
requests==2.8.1
six==1.11.0
tabulate==0.7.5
